<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-lazy-init="true"
>


    <import resource="sony.xml"/>
    <import resource="toshiba.xml"/>
    <import resource="db_connect.xml"/>
    <import resource="postprocessor.xml"/>

    <bean id="t1000" class="ru.javabegin.training.spring.impls.robot.ModelT1000" scope="singleton"
    depends-on="databaseBean"
    parent="baseModel">

        <constructor-arg index="0" value="black" type="java.lang.String"/>
        <constructor-arg index="1" value="2018" type="int"/>
        <constructor-arg index="2" value="false" type="boolean"/>



    </bean>

    <bean id="baseModel" abstract="true">

        <constructor-arg index="0" ref="ToshibaHead"/>
        <constructor-arg index="1" ref="ToshibaHand"/>
        <constructor-arg index="2" ref="ToshibaLeg"/>


    </bean>





</beans>
